* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.Logo2 {
    height: 300px;
    width: 450px;
    margin-top: -90px;
}



body {
    text-decoration: none;
    background-color: #2a2b2b;
    background-image: url("gangsta.jpg");
    background-size: cover;
    background-attachment: fixed;

}

nav {
    height: 130px;
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
}

ul {
    margin-left: 500px;
    border-bottom: 3px solid #4e4e4e;
    margin-top: -60px;
    height: 40px;
    width: 50%;
}

ul li {
    display: inline-block;
}

ul li a {
    color: #7a7a7a;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 3px;
}

a:hover {
    opacity: 0.6;
    background: #8f2821;
    transition: .2s;
}

h1 {
    color: white;
    text-align: center;
}

p{
    font-size: 100px;
}

.rich{
    color: #8f2821;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 1330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rich2{
    margin-top: px;
    margin-right: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.richh1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    width: 1040px;
}
.rich3{
    margin-top: px;
    margin-right: 1200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.prich{

        color: white;
        margin-left: 190px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        width: 800px;
}
.prich{

        color: white;
        margin-left: 190px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        width: 800px;
}
.richm1{
    color: #8f2821;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 1130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.richm2{
    margin-top: px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    width: 1000px;
}
.richd1{
    color: #8f2821;
    font-size: 25px;
    margin-top: 150px;
    margin-right: 1330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.richd2{
    margin-top: px;
    margin-right: 960px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.richd3{
    margin-top: px;
    margin-right: 1340px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.firstvid{
    opacity: 0.8;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 50px;

}
.prich2{

        color: white;
        text-decoration: none;
        margin-left: 190px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        width: 800px;
}